<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
        font-size: 1.2rem;
        background-color: #fff;
        color: #000;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
      }

      .faixa {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0e3975;
        width: 99%;
      }

      .rodape {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0e3975;
        width: 99%;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 99%;
      }

      .logoEnadex {
        width: 350px;
        height: 45px;
      }

      .simbolEnadex {
        width: 100px;
      }

      #titleRecuperar {
        font-size: medium;
        margin-top: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      td {
        padding: 5px;
        text-align: center;
        line-height: 1.2;
      }

      p {
        margin: 5px 0;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td colspan="2" class="faixa">
          <img class="logoEnadex" src="https://i.imgur.com/NxBYSfi.png" alt="logoEnadex" />
        </td>
      </tr>
      <tr>
        <td colspan="2" id="titleRecuperar">
          <h1>Senha Modificado com Sucesso</h1>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="textcenter">
          <p><strong>Prezado Usuário, <%= context.name %></strong></p>
          <p>
            <strong>Sua senha foi atualizada com sucesso!!!</strong>
          </p>
          <p>
            <strong>Modificada em: <%= context.date %></strong>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="recado">
          <p style="font-size: small; margin-top: 10px;"><strong>Este é um email automático enviado pela Enadex, favor não responder.</strong></p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="rodape">
          <img class="simbolEnadex" src="https://i.imgur.com/43MAEpg.png" alt="simboloenadex" />
        </td>
      </tr>
    </table>
  </body>
</html>