<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h2 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Recuperação de Senha</h2>
    <p>Olá <%= context.name %>,</p>
    <p>Você solicitou a recuperação de senha para a sua conta. Abaixo estão os detalhes:</p>
    <table>
        <tr>
            <th>E-mail</th>
            <td><%= context.email %></td>
        </tr>
        <tr>
            <th>Código para Recuperação</th>
            <td><%= context.otgCode %></td>
        </tr>
    </table>
    <p>Se você não solicitou essa recuperação de senha, por favor, ignore este e-mail.</p>
    <p>Atenciosamente,<br>ENADEX</p>
</body>
</html>
